<div class="logo text-center">
    <img width="300" src="assets/logo/gym-logo.jpg" alt="gym-logo-pic">
</div>

<div class="registration-form m-3 p-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="ex vishal" formControlName="firstName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="ex deep" formControlName="lastName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>


            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="ex vishal@gmail.com" formControlName="email">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="ex 7004341234"formControlName="mobile" >
                    <mat-icon matSuffix>mobile_screen_share</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input type="number" formControlName="weight" matInput placeholder="weight">
                    <mat-icon matSuffix>line_weight</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Height</mat-label>
                    <input type="number" formControlName="height" matInput placeholder="height" [readonly]="!this.registerForm.value?.weight">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BMI</mat-label>
                  <input readonly type="number" formControlName="bmi" matInput placeholder="BMI">
                  <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BMI Result</mat-label>
                  <input readonly formControlName="bmiResult" matInput placeholder="BMI Result">
                  <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
              </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">DO You Require Trainer?</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="requireTrainer">
                    <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['yes','No']"
                        [value]="trainerOpt">
                        {{trainerOpt}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected Value is: </div>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="gender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of ['Male','Female']"
                        [value]="gender">
                        {{gender}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected Gender is: </div>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Select Package</mat-label>
                    <mat-select formControlName="package" formControlName="package">
                        <mat-option *ngFor="let package of packages" [value]="package">
                            {{package}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Which of the following is important for you?</mat-label>
                    <mat-select multiple formControlName="important">
                        <mat-option *ngFor="let important of importantList" [value]="important">
                            {{important}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <label id="example-radio-group-label">have you been gym before ?</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="haveGymBefore">
                    <mat-radio-button class="example-radio-button" *ngFor="let option of ['Yes','No']"
                        [value]="option">
                        {{option}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected Option is: </div>
            </div>
             <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enquiry date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="enquiryDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
             </div>
        </div>
        <button mat-raised-button color="accent" class="mt-4" type="submit">Submit</button>
    </form>
</div>


